*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
}

img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}