@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Amazon Ember', sans-serif;
}

img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

.amazon-logo{
    width: 97px;
    height: 30px;
}

#mobile-header-container{
    background-color: #232f3e;

}

.mobile-header-nav{
    width: 95%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding-block: .75rem;
}

.header-logo-container{
    display: flex;
    margin-top: .75rem;
}

.header-logo-container .menu-bar{
    color: white;
    display: flex;
    position: static;
    float: none;
    background-image: url(/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-repeat: repeat-x;
    width: 20px;
    height: 20px;
    background-position: -172px -255px;
    margin-right: .75rem;
}

.header-logo-container .header-logo-image{
    /* display: inline-block; */
    float: left;
    text-indent: -500px;
    background-image: url(/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    width: 97px;
    height: 30px;
    background-position: -10px -51px;
    background-repeat: repeat-x
} 

.header-logo-container svg{
    width: 100%;
    height: 100%;
    padding: -10px;
}

.user-account-info-container{
    display: flex;
    align-items: center;
    gap: .7rem;
}

.user-account-info-container>a{
    color: white;
    font-size: 13px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: .2rem;
}

.fa-user, .shopping-cart{
    font-size: 1.5rem;
}

#notebook-header-section{
    display: none;
}

@media screen and (min-width: 680px){
    #mobile-header-container{
        display: none;
    }

    .header-logo-container{
        margin-top: 0;
    }

    #notebook-header-section{
        display: block;
        padding-inline: .3rem;
        padding-block: .3rem;
    }

    .notebook-header-container{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .delivering-location{
        display: flex;
        gap: .25rem;
    }

    .location-icon{
        background-image: url(/img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
        background-position: -71px -378px;
        width: 15px;
        height: 18px;
        margin-top: 8px;
        align-self: flex-end;
    }

    .delivering-location-text-container{
        display: flex;
        flex-direction: column;
    }

    .deliver-to-text{
        font-size: 10px;
        color: #ccc;
    }

    .country{
        font-size: 12px;
        padding-bottom: 1px;
        color: white;
    }

    .notebook-searchbar-container{
        height: 35px;
        width: 45%;
        padding: 0px 4px 0px 3px;
        display: flex;
    }

    .select:not(option){
        width: 15%;
        background-color: #efefef;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none;
        border-right: 1px solid rgb(205,205,205);
    }

    .all-text{
        font-size: 12px;
        color: white;
    }

    .select:not(option):focus{
        outline: 3px solid rgb(255,153,0);
        margin-right: 3px;
    }

    .notebook-searchbar-container #search{
        width: 75%;
        outline: none;
        padding-inline: .3rem;
        border: none;
    }

    .notebook-searchbar-container #search:focus .notebook-searchbar-container{
        outline: 3px solid rgb(255,153,0);
    }

    .search-btn{
        width: 10%;
        background-color: #febd69;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-block: 0;
        /* height: 34px; */
    }
}

@media screen and (min-width: 1270px){
    #notebook-header-section{
        display: block;
        padding-inline: .75rem;
        padding-block: .75rem;
    }

    .deliver-to-text{
        font-size: 12px;
    }

    .country{
        font-size: 14px;
        font-weight: 700;
    
    }

    .notebook-searchbar-container{
        height: 45px;
        width: 55%;
        padding: 0px 2px 0px 3px;
        display: flex;
        /* background-color: red; */
    }

    .select:not(option){
        width: 8%;
        padding-inline: 10px;
        border: none;
        border-right: 1px solid rgb(205,205,205);
    }

    .notebook-searchbar-container #search{
        width: 86%;
    }

    .search-btn{
        width: 6%;
    }
}